header {
	background:url(pegas2.png) no-repeat center top / cover;
	
	height: 1000px;
}



html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



body {
	background-color: white !important;
	/* background-color: #505050; */
	color: #303030;
	font-family: Arial, Sans-serif;
	font-size: 13px;
	line-height: 1.5;
}



table {
width: 800px;
	border-collapse: separate;
	margin: 10px auto;
}


th {
	background-color: #DDD;
	/*font-weight: normal;*/
}
th, td {
	border: 1px solid #AAA;
	font-size: 14px;
	font-size: 0.875rem;
}

.table-holder
{
    width: 100%;
padding-right: 3px; 
 padding-left: 3px; 
}
 
.table
{
    overflow-x: auto;
}

ul, ol {
	margin-top: 4px;
	margin-bottom: 8px;
	padding-left: 20px;
}
ul ul, ol ol {padding-left: 15px;}

li {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 15px;
	margin-right: 0;
}